.caja2{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(50, 50, 50, 0.08);
	border-radius:3px;
  width: 400px;
  height: 85%;
  min-height: 700px;
  margin: 0;
}
.caja{
	position:absolute;
	left:50%;
	top:50%;
  width: 350px;
  padding:10px 10px;
  margin: 0;
	transform: translate(-50%,-50%);
  background-color: white;
	border-radius:3px;
}

.titulo {
  color:#aaa;
  text-align: center;
  font-size: 2em;
  position:absolute;
  left:50%;
	top:0%;
	transform: translate(-50%,-100%);
}

.desta {
  font-weight: bold;
  color: #333333;
}

.subtitulo {
  text-align: center;
  color:#aaa;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.gus {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

.inputGustos {
  width: 77.5%;
}

.butongus {
  margin-top: 8px;
  padding: 9px;
}

.tabla {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  width: 95%;
  padding: 8px;
  margin-left: 5px;
}

.izq {
  background-color: green;
  width: 14%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
}

.block {
  display: flex;
  width: 15px;
  height: 15px;
}


.der {
  width: 85%;
}

.bandera {
  color: #fff;
  position: relative;
  font-size: 30px;
  left: -7px;
  top: -7px;
}


.advertencia {
  font-size: 12px;
  color:#aaa;
  margin-top: 15px;
}

.enlace {
  text-decoration: none;
  margin: 0px;
  padding-left: 15px;
}




.caja3 {
  display: flex;
  flex-flow: column wrap;
  position:absolute;
	left:50%;
	top:50%;
  width: 350px;
  padding:0;
  margin: 0;
	transform: translate(-50%,-50%);
  background-color:#1f90b3;
	border-radius:3px;
}

.carita {
  display: flex;
  align-content: center;
  justify-content: end;
  padding:8px;
  margin: 0;
  width: 100%;
  height: 100px;
}

.atributo {
  display: flex;
  padding:8px;
  margin: 0;
  width: 100%;
  height: 17%;
  background-color: #eee;
  border: 1px solid #aaa;
  align-content: center;
  justify-content: space-between;
}

.atributos {
  margin: 0;
  color:blue;
  width: 35%;
}

.nombre {
  margin: 0;
  width: 60%;
  font-size: 30px;
}

.email {
  margin: 0;
  background-color: blue;
  color: #fff;
  border-radius:3px;
  padding:1px;
}

.telefono {
  margin: 0;
  background-color: #1f90b3;
  border-radius:3px;
  color: #fff;
  padding:1px;
}

.gusto {
  margin: 0;
  background-color: green;
  border-radius:3px;
  color: #fff;
  padding:1px;
}

.porcentaje {
  margin: 0;
  background-color: red;
  border-radius:3px;
  padding:1px;
}


.inputWithIcon2 i {
  position: absolute;
  left: 10px;
  top: 40px;
  padding: 9px 8px;
  color: #000;
}

.icon {
  position: absolute;
  width: 100px;
  height: 100%;
  font-size: 70px;
}


/*.ocultar {
  display: none;
}*/